.navbar-grid {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  border-color: #61dafb;
  border-width: medium;
  border-style: solid;
  height: 10vh;
  align-items: center;
}
