.navbar-grid {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  background-color: #fff;
  /* border-color: #61dafb; */
  border-width: medium;
  border-style: solid;
  border: none;
  height: 10vh;
  align-items: center;
}
