* {
  font-family: "Poppins", sans-serif;
}
html,
body {
  margin: 0;
  color: #212121;
  background-color: #fff;
  overflow: hidden;
}

.order-view-header-cont {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 3rem;
  background-color: #fff;
}
#view-header-menulabel {
  font-size: 40px;
}
#view-header-catlabel {
  font-size: 40px;
}
.view-header {
  font-size: 20px;
  color: #212121;
  margin-right: 1rem;
}
.order-view-grid {
  display: grid;
  grid-template-rows: 10vh 8vh 62vh auto;
  background-color: #fafafa;
  /*max-height: 80vh;*/
  /*min-height: 60vh;*/
}
.order-slide-horizon {
  overflow: auto;
  width: 75vw;
  padding: 2.5rem;
  justify-content: flex-start;
  display: flex;
  flex-wrap: wrap;
}

.order-slide-horizon-loading {
  overflow: auto;
  width: 75vw;
  padding: 2.5rem;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 580px) {
  .order-slide-horizon {
    justify-content: center;
  }
}
.order-view-item-cont {
  background-color: #fefefe;
  height: 270px;
  width: 200px;
  margin: 0.5rem;
  text-align: center;
  font-size: 10px;
  -moz-box-shadow: 0 0 3px rgb(204, 204, 204);
  -webkit-box-shadow: 0 0 3px #ccc;
  box-shadow: 0 0 3px #ccc;
}
.order-view-menu-item {
  height: 180px;
  /* border-radius: 12px; */
}

.order-view-item-cont:hover {
  opacity: 80%;
  transition: 0.5s;
  cursor: pointer;
}
.order-view-category {
  height: 100%;
  display: flex;
  justify-content: center;
}

.order-view-search-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #fff; */
  /* border: 1px red solid; */
}
.label {
  font-size: 0.625rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: +1.3px;
  margin-bottom: 1rem;
}

.searchBar {
  width: 800px;
  /* height: 60px; */
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media (min-width: 500px) {
  .searchBar {
    width: 200px;
  }
}

@media (min-width: 610px) {
  .searchBar {
    width: 300px;
  }
}

@media (min-width: 710px) {
  .searchBar {
    width: 400px;
  }
}

@media (min-width: 830px) {
  .searchBar {
    width: 500px;
  }
}

@media (min-width: 950px) {
  .searchBar {
    width: 600px;
  }
}

@media (min-width: 1070px) {
  .searchBar {
    width: 800px;
  }
}

@media (max-width: 500px) {
  .searchBar {
    width: 200px;
  }
  #view-header-menulabel {
    font-size: 20px;
  }
}

#searchQueryInput {
  width: 100%;
  height: 2.8rem;
  background: #ff2531;
  color: #fff;
  outline: none;
  border: none;
  border-radius: 1.625rem;
  padding: 0 3.5rem 0 1.5rem;
  font-size: 1rem;
}

@media (max-width: 500px) {
  #searchQueryInput {
    height: 1.8rem;
    font-size: 0.75rem;
  }
}
#searchQueryInput::placeholder {
  color: white;
}

#searchQuerySubmit {
  width: 3.5rem;
  height: 2.8rem;
  margin-left: -3.5rem;
  background: none;
  border: none;
  outline: none;
  color: white;
}
#searchQuerySubmit:hover {
  cursor: pointer;
}

.search-img {
  color: white;
}

.order-view-category-btn {
  height: 90%;
  width: 100px;
  outline: none;
  border: none;
  background-color: #fefefe;
  cursor: pointer;
  border-radius: 20px;
  -moz-box-shadow: 0 0 2px #ccc;
  -webkit-box-shadow: 0 0 2px #ccc;
  box-shadow: 0 0 2px #ccc;
  /* border: 0.5px solid #ccc; */
  margin: 0 0.5rem;

  font-size: 30px;
}

.order-view-category-btn:hover {
  opacity: 85%;
}
.order-view-category {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  width: 80%;
  margin-bottom: 1rem;
  /* background-color: #fff;
  -moz-box-shadow: 0 0 3px #ccc;
  -webkit-box-shadow: 0 0 3px #ccc;
  box-shadow: 0 0 3px #ccc; */
}

#category-food-btn {
}

#category-bev-btn {
}

.order-view-category-cont {
  /* border: 1px blue solid; */
  /* box-shadow: 0px -2px 4px #ccc; */
  width: 75vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
