.dashboard-view-grid {
  display: grid;
  grid-template-rows: auto auto 70vh auto;
}
.dashboard-slide-horizon {
  display: inline-block;
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
}

.grid28 {
  display: grid;
  grid-template-rows: 20% 80%;
}
