.order-side-grid {
  display: grid;
  grid-template-rows: 10vh 70vh 10vh;
}
.order-side-detail-grid {
  display: grid;
  grid-template-rows: 5vh 10vh 55vh 10vh;
}
.order-side-menu-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  background: #fff;
  grid-gap: 2px;
  min-height: 0; /* NEW */
  min-width: 0;
}
.order-side-slide {
  overflow-y: scroll;
}
