.table-side-grid {
  display: grid;
  /* grid-template-rows: 10vh 10vh 50vh 10vh 10vh; */

  display: grid;
  grid-template-rows: 10vh auto;
  background-color: #fff;
  overflow: auto;
}
.table-side-detail-grid {
  display: grid;
  grid-template-rows: 5vh 8vh 48vh 15vh 10vh;
  /* grid-template-columns: auto auto auto; */
  height: 100%;
}

.table-side-detail-container {
  background-color: aquamarine;
  width: 100%;
}

.table-side-menu-grid {
  display: grid;
  grid-template-columns: 30% 40% 30%;
  background: #fff;
  grid-gap: 2px;
  /* margin-top: 0.5rem; */
  border-radius: 0.25rem;
  margin: 0.5rem 0.5rem;
  -moz-box-shadow: 0 0 3px #ccc;
  -webkit-box-shadow: 0 0 3px #ccc;
  box-shadow: 0 0 3px #ccc;
  min-height: 80px; /* NEW */
  min-width: 0;
  align-items: center;
}
